/* CSS */

:root {
  --gradient-angle: -45deg;
  --gradient-colors: #ffcb47, #e34ba9, #369eff, #95f3d9;
  --animation-duration: 10s;
  --background-size: 400% 400%;
  --animation-timing-function: ease;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.bg-custom-gradient-exbutton {
  background-image: linear-gradient(var(--gradient-angle), var(--gradient-colors));
  background-size: var(--background-size);
  background-repeat: no-repeat;
  animation: gradientAnimation var(--animation-duration) var(--animation-timing-function) infinite;
  transition: background-position 0.5s ease-in-out;

  /* この二つ実装したらフリッカーなくなった...? 2024/09/25 1:25 */
  /* Safari フリッカー対策 */
  backface-visibility: hidden;
  /* GPUを強制的に使用 */
  transform: translate3d(0, 0, 0);
}

.bg-custom-gradient-exbutton--dmm {
  --gradient-colors: #f66946, #f8a76a, #fb5274, #f8788f;
}

.bg-custom-gradient-exbutton--doujin {
  --gradient-colors: #ec4899, #f43f5e, #e11d48, #be185d;
}

.bg-custom-gradient-exbutton--var3 {
  --gradient-colors: #f92f79, #ffe15d, #2770ef, #37fbe4;
}

@media (max-width: 768px) {
  .bg-custom-gradient-exbutton {
    --animation-duration: 10s;
  }
}