/* styles.css */

.bg-custom-gradient-exbutton {
    background-image: linear-gradient(-45deg, #ffcb47, #e34ba9, #369eff, #95f3d9);
    background-size: 600% 600%; /* 拡大 */
    background-repeat: no-repeat;
    animation: myGradient 13s linear infinite; /* 継続時間とイージングを調整 */
  }
  
  @keyframes myGradient {
    0% { background-position: 0% 50%; }
    25% { background-position: 50% 50%; }
    50% { background-position: 100% 50%; }
    75% { background-position: 50% 50%; }
    100% { background-position: 0% 50%; }
  }